/* home page styling */

.home-wrapper {
  display: flex;
  flex-direction: column;
}

.store-title {
  font-size: 2.875rem;
  letter-spacing: 0.4rem;
  text-align: center;
}

.home-sec {
  display: flex;
}

.website-info {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 20%;
}

.exclusives-title {
  font-size: 5.3125rem;
}
